# Generated models and weights
*.xmodel
*.pth
*.onnx
*.bit
*.hwh
*.dtbo

# Datasets
data/
MNIST/
cifar-10-batches-py/

# repos
# NOTE original is finn/ -- renamed upon clone to avoid naming collision
finn-repo/
Vitis-AI/

# Vitis AI generated
quantize_result/
compiled*/

# FINN generated
output_*/
estimate_*/
/tmp/finn_dev_*/

# Docker
.docker/

# Python
__pycache__/
*.pyc
*.egg-info/
*.npy

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Board results (keep in results/ only)
*.json
!results/**/*.json
